.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h2 {
  margin: 4rem;
}
button {
  color: black;
  margin: 0;
  border: 2px solid #04838f;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-weight: 600;
}
